
<router-outlet></router-outlet>

<div  class="container-fluid">
  <div class="row"><h1>Add a game</h1></div>


<div  class="form-field">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">


    <mat-form-field class="form-element">
      <mat-label>Title</mat-label>
      <input matInput  placeholder="Game title Here" formControlName="titleGame" required>
      <mat-error>Title Required!</mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Game description Here" formControlName="descriptionGame" required></textarea>
      <mat-error>Description Required!</mat-error>
    </mat-form-field>

    Rating (*):
    <div class="stars">
      <input type="radio" name="star" class="star-1" id="star-1" value="1" formControlName="ratingGame" name="ratingGame" required/>
      <label class="star-1" for="star-1">1</label>
      <input type="radio" name="star" class="star-2" id="star-2" value="2" formControlName="ratingGame" name="ratingGame" required/>
      <label class="star-2" for="star-2">2</label>
      <input type="radio" name="star" class="star-3" id="star-3" value="3" formControlName="ratingGame" name="ratingGame" required/>
      <label class="star-3" for="star-3">3</label>
      <input type="radio" name="star" class="star-4" id="star-4" value="4" formControlName="ratingGame" name="ratingGame" required/>
      <label class="star-4" for="star-4">4</label>
      <input type="radio" name="star" class="star-5" id="star-5" value="5" formControlName="ratingGame" name="ratingGame" required/>
      <label class="star-5" for="star-5">5</label>
      <span></span>
    </div>
<br>
<!--upload image-->
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
           role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>

    <label class="btn btn-default"> <input type="file" (change)="selectFile($event)"></label>

    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    <br>
<!--upload  image-->

    <input formControlName="keyCreator" type="hidden">

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Add Game</button>
    </div>

  </form>
</div>
</div>
