<div class="title">
  <h1> MovieApp </h1>
</div>

<ng-template #login>
  <button class="log" (click)="auth.googleSignin()">Login with Google</button>
  </ng-template>

<router-outlet></router-outlet>

<div class="container">
  <div>
    <div *ngIf="auth.user$ | async as user; else login">
      {{ user | json}}
      <br>
      <br>
      <button class="button" (click)="auth.signOut()">Sign Out</button>
    </div>

    <p>We are only supporting google login for the moment <span>❤</span> thank you for your understanding.</p>
  </div>
</div>
